body  {
  font-size: 22px;
  line-height: 34px;
}

nav,
header  {
  color: white;
  background-color: #FD739c;    
}

header {
  padding-top: 60px;
  padding-bottom: 60px;
}

h1  {
  margin-bottom: 20px;
  line-height: 60px;
}

header p {
  margin-top: 0px;
}

h1,
h2,
header p {
  font-family: Arial, Helvetica, sans-serif;
}

main {
  padding-top: 60px;
}
