.card-office {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 240px;
  height: 320px;
  padding: 24px;
  background-color: lightgrey;
  /* background-image: url('../img/offices/office01.jpg'); */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: transform 0.2s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.card-office:hover {
  transform: translateY(-3px);
}


.card-office__title {
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
  color: #ffffff;
}

.card-office__location {
  margin: 0;
  padding: 0;
  color: #ffffff;
}