.page-header {
  position: fixed;
  z-index: 100;
  width: 100%;
  opacity: 0;
  animation-name: page-header--animation;
  animation-delay: 1850ms;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.2, 0.8, 0.2, 1);
}

.page-header__group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
}

.page-header__menu {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-left: 32px;
  margin-right: auto;
  padding: 0;
  list-style: none;
}

@media screen and (max-width: 768px) {
  .page-header__menu {
    display: none;
  }
}

.page-header__menu-item {
  margin-right: 8px;
}

.page-header__menu-item:last-of-type {
  margin-right: 0;
}

.page-header__link {
  display: inline-block;
  padding: 16px 8px;
  color: #ffffff;
  transition: opacity 0.2s ease;
}

.page-header__link:hover {
  opacity: 0.7;
}

.page-header__signin-button {
  margin-left: auto;
}

@keyframes page-header--animation {
  0% {
    opacity: 0;
    transform: translateY(-30px)
  }
  100% {
    opacity: 1;
    transform: translateY(0)
  }
}