body {
  font-size: 16px;
  min-width: 1122px;
  min-height: 1750px;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  background: url("../img/bg.jpg") no-repeat top center;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.main-header {
  background-color: #000000;
  margin-bottom: 60px;
  color: #fff;
  text-transform: uppercase;
}

.container {
  width: 940px;
  padding:0 10px;
  margin: 0 auto;
}

.main-navigation {
  width: 780px;
  min-height: 70px;
  float: left;
}

.main-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.main-navigation li {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  line-height: 20px;
}

.main-navigation a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
  padding: 25px 20px;
  display: block;
  transition: background 0.2s ease;
}

.main-navigation a:hover {
  background-color: #222222;
}

.user-block {
  width: 140px;
  float: right;
}

.login {
  position: relative;
  display: inline-block;
  padding: 25px 20px;
  padding-left: 50px;
  font-size: 16px;
  line-height: 20px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;

}

.login:hover {
  background-color: #222222;
}

.login::before {
  content: "";
  position: absolute;
  top: 25px;
  left: 20px;
  width: 18px;
  height: 18px;
  background: url("../img/sprite.png") no-repeat;
  opacity: 0.3;
  transition: background 0.2s ease;
}

.login:hover::before {
  opacity: 1;
}



.index-logo {
  width: 368px;
  min-height: 204px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}

.features {
  margin-bottom: 60px;
}

.features-item {
  min-height: 175px;
  width: 300px;
  float: left;
  margin-right: 20px;
  color: #ffffff;
  text-align: center;
}

.features-item p {
  font-size: 14px;
  line-height: 24px;
  margin: 10px;
  margin-bottom: 0;
}

.features-name {
  position: relative;
  font-size: 30px;
  line-height: 42px;
  display: block;
  margin-bottom: 35px;
  padding-bottom: 30px;
}

.features-name::after {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  left: 50%;
  margin-left: -10px;
  transform: rotate(45deg);
  transition: transform 0.3s ease;
  width: 20px;
  height: 20px;
  background: #ffffff;
}

.features-item:hover .features-name::after {
  transform: rotate(0deg);
  transform: scale(0.6);
}

.features-item:last-child {
  margin-right: 0;
}

.index-content {
  position: relative;
  padding: 50px 80px;
  margin-bottom: 35px;
  background: #f8f5f2 url("../img/ptrn-biege.jpg") repeat;
}

.index-content::before {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -140px;
  width: 1px;
  height: 280px;
  background-color: #000000;
  opacity: 0.2;

}

.index-content-left {
  float: left;
  width: 380px;
}

.index-content-right {
  float: right;
  width: 300px;
}

h2.index-content-title {
  font-size: 30px;
  line-height: 42px;
  margin-top: 0;
  margin-bottom: 25px;
}

.news-preview {
  list-style: none;
  padding: 0;
}

.news-preview li {
  margin-bottom: 25px;
}

.news-preview p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  padding-right: 35px;
}

.index-content p {
  font-size: 14px;
  line-height: 24px;
}


.btn {
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
  margin-right: 15px;
  padding: 10px 20px;

  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
  text-transform: uppercase;

  color: #ffffff;
  background-color: #000000;
  border: none;
  outline: none;

  transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.2s ease;
  cursor: pointer;
}

.btn:hover,
.btn:active {
  background-color: #663d15;
  transform: translateY(-2px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.btn .disabled,
.btn:disabled {
  opacity: 0.3;
  cursor: default;
}

.btn .disabled:hover,
.btn:disabled:hover {
  background-color: #000;
  transform: none;
  box-shadow: none;
}

.gallery {
  height: 260px;
  position: relative;
}

.gallery-content {
  height: 164px;
  padding: 0;
  margin: 0;
}

.gallery-content img {

  background: #ccc;
  border: 7px solid #ffffff;
}

.gallery .btn {
  position: absolute;
  width: 140px;
  bottom: 0;
  margin: 0px;
}

.gallery-prev {
  left: 0;
}

.gallery-next {
  right: 0;

}

.appointment-form {
  font-size: 0;
}

.appointment-form input {
  float: left;
  width: 106px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 7px 15px;

  font-family: 'PT Sans Narrow', sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 14px;
  line-height: 24px;

  background: #f9f6f3;
  border: 2px solid #000000;
  outline: none;
}

.appointment-form input:focus {
  background: #ffffff;
  border: 2px solid #663d15;
}

input[name="time"],
input[name="phone"] {
  margin-right: 0;
}

.btn[type="submit"] {
  width: 100%;
}

.news-preview time {
  font-size: 14px;
  text-transform: none;
  font-weight: 400;
  opacity: 0.4;
}


.main-footer {
  margin-top: 65px;
  padding-top: 60px;
  padding-bottom: 40px;
  background: #444444 url("../img/ptrn-footer.jpg") repeat;
}

.footer-contacts {
  float: left;
  width: 320px;
  margin-right: 60px;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}

.footer-contacts a {
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  transition: border 0.2s ease;
}

.footer-contacts a:hover {
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}

.footer-social {
  float: left;
  width: 180px;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}

.footer-social p {
  margin: 0;
}

.social-btn {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 15px 4px 0 0;

  font-size: 0;
  text-decoration: none;

  background: #000000 url('../img/sprite.png') no-repeat;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.1s ease;
}

.social-btn:hover {
  background-color: #663d15;
  transform: translateY(-2px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.social-btn-vk {
  background-position: -80px 0;
}

.social-btn-fb {
  background-position: -120px 0;
}

.social-btn-inst {
  background-position: -160px 0;
}

.footer-copyright {
  float: right;
  max-width: 160px;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}

.footer-copyright p {
  margin: 0;
}
