body {
	color: black;
	font-family: 'Roboto Slab', serif;
}

.title {
	
	font-size: 40px;
	letter-spacing: 1.5px;
	font-weight: 600;
}

.definition {
	font-family: 'Garamond', serif;
	font-size: 20px;
	font-style: italic;
	margin-bottom: 20px;
}

.definition span {
	font-style: normal;
	font-variant: small-caps;

}

.paragraph {
	line-height: 2;
	margin-bottom: 20px;
}