/* Overal elements */

body {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: hsl(0, 0%, 11%);
}

a {
  text-decoration:none;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden,
input[type="checkbox"].visually-hidden,
input[thype="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  padding-top: 8px;
  padding-left: 12px;
  padding-bottom: 8px;
  padding-right: 12px;
  box-sizing: border-box;
  font: inherit;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  background-color: #fff;
  border: 1px solid hsl(0, 0%, 88%);
  border-radius: 2px;
  cursor: pointer;
  transition: 0.15s ease;
}

.button:hover,
.button:focus {
  border-color: hsl(0, 0%, 78%);
}

.container {
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 320px) {
  .container {
    min-width: 308px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 752px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 956px;
  }
}


/* Header */

.page-header {
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  margin-right: 122px;
  padding-top: 28px;
  padding-bottom: 28px;
}

.button-time {
  margin-right: 8px;
}

.button-location { 
  position: relative;
  min-width: 296px;
  margin-left: 8px;
  padding-left: 40px;
  text-align: left;
}

.button-location::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 12px;
  display: block;
  width: 14px;
  height: 16px;
  margin-top: -8px;
  background-image: url(../img/ic_pin.svg);
  background-repeat: no-repeat;
  background-position: center center;
} 

.user-controls {
  margin-left: auto;
}

.user-controls .button {
  margin-right: 12px;
}

.user-controls .button-register {
  color: hsl(0, 0%, 100%);
  background-color: hsl(0, 0%, 11%);
  border: none;
}

.user-controls .button-register:hover,
.user-controls .button-register:focus {
  background-color: hsl(117, 41%, 40%);
  outline: none;
}

.user-controls .button-register:active {
  background-color: hsl(117, 41%, 35%);
}

.user-controls .button-cart {
  margin-right: 0;
  border: none;
}

.user-controls .button-cart:hover,
.user-controls .button-cart:focus {
  opacity: 0.8;
}

.user-controls .button-cart:active {
  opacity: 0.6;
}

/* Main page */

.main-search {
  position: relative;
  margin-top: 32px;
}

.main-search-input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 16px;
  padding-left: 32px;
  font-size: 16px;
  line-height: 24px;
  border: none;
  border-bottom: 1px solid hsla(0, 0%, 46%, 0.3); 
}

.main-search-input:hover {
  border-bottom: 1px solid hsla(0, 0%, 46%, 0.8);
}

.main-search-input:focus {
  border-bottom: 1px solid hsl(117, 41%, 45%);
  outline: none;
}

.main-search-icon {
  position: absolute;
  top: 8px;
  left: 0;
  display: block;
  width: 22px;
  height: 22px;
  background-image: url(../img/ic_search.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.main-places {
  margin-top: 56px;
}

.main-places h2 {
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
  font-size: 22px;
  line-height: 34px;
  font-weight: 400;
}

.places-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 80px;
  padding: 0;
  list-style: none;
}

.places-item {
  margin-right: 16px;
  margin-bottom: 16px;
  padding-bottom: 16px;
}

.places-item:nth-of-type(3n) {
  margin-right: 0;
}

.places-item a {
  display: block;
  color: hsl(0, 0%, 11%);
}

.places-item a:hover {
  background-color: hsl(0, 0%, 95%);
  outline: 8px solid hsl(0, 0%, 95%);
}

.places-item img {
  margin-bottom: 8px;
}

.places-item .place-title {
  margin: 0;
  margin-bottom: 4px;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
}

.place-features {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 4px;
  padding: 0;
  list-style: none;
  color: hsl(0, 0%, 38%);
}

.place-features .place-feature {
  position: relative;
  margin-right: 12px;
  font-size: 14px;
  line-height: 20px;
}

.place-features .place-feature::after {
  content: "";
  position: absolute;
  top: 8px;
  right: -8px;
  width: 4px;
  height: 4px;
  background-color: hsl(0, 0%, 38%);
  border-radius: 2px;
}

.place-features .place-feature:last-of-type {
  margin-right: 0;
}

.place-features .place-feature:last-of-type::after {
  display: none;
}

.places-item .place-delivery-time {
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 20px;
}

/* Place page */

.hero-banner {
  background-image: url(../img/hero_img.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.hero-banner-wrapper {
  display: flex;
  padding-top: 80px;
  padding-bottom: 80px;
}

.place-title-wrapper {
  padding: 40px;
  background-color: hsl(0, 0%, 100%);
}

.place-title-wrapper h2 {
  margin: 0;
  margin-bottom: 56px;
  padding: 0;
  font-size: 36px;
  line-height: 42px;
  font-weight: 400;
}

.place-title-wrapper .place-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.place-info .place-delivery-time {
  margin: 0;
  margin-left: 24px;
  padding: 8px 16px;
  font-size: 13px;
  line-height: 20px;
  color: hsl(0, 0%, 100%);
  background-color: hsl(0, 0%, 11%);
  border-radius: 18px;
}

.menu-tabs {
  border-bottom: 1px solid hsla(0, 0%, 46%, 0.2);
}

.tabs-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.tabs-item {
  display: inline-block;
}

.tabs-item a {
  display: inline-block;
  margin-right: 40px;
  padding-top: 32px;
  padding-bottom: 32px;
  color: hsl(0, 0%, 38%);
  font-weight: 400;
}

.tabs-item a:hover,
.tabs-item a:focus {
  color: hsl(0, 0%, 15%);
}

.tabs-item a:active {
  color: hsl(0, 0%, 11%);
}

.tabs-item-current a,
.tabs-item-current a:hover,
.tabs-item-current a:focus,
.tabs-item-current a:active {
  color: hsl(117, 41%, 45%);
}

.place-menu h2 {
  margin: 0;
  margin-top: 56px;
  margin-bottom: 32px;
  padding: 0;
  font-size: 22px;
  line-height: 34px;
  font-weight: 400;
}

.menu-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 80px;
  padding: 0;
  list-style: none;
} 

.menu-item {
  width: 470px;
  box-sizing: border-box;
  margin-right: 16px;
  margin-bottom: 48px; 
}

.menu-item:nth-of-type(2n) {
  margin-right: 0px;
}

.menu-item a {
  display: flex;
  justify-content: space-between;
  color: hsl(0, 0%, 11%);
  background-color: hsl(0, 0%, 100%);
  border: 1px solid hsla(0, 0%, 46%, 0.2);
}

.menu-item a:hover,
.menu-item a:focus {
  background-color: hsla(0, 0%, 46%, 0.02);
  border: 1px solid hsla(0, 0%, 46%, 0.2);
}

.menu-item img {
  width: 170px;
  height: 160px;
}

.appetizer-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
}

.appetizer-info p {
  margin: 0;
  padding: 0;
}

.appetizer-info .appetizer-title {
  margin-bottom: 4px;
} 

.appetizer-info .appetizer-subtitle {
  display: none;
  font-size: 13px;
  line-height: 20px;
  color: hsl(0, 0%, 38%);
}

.menu-item a:hover .appetizer-subtitle,
.menu-item a:focus .appetizer-subtitle {
  display: block;
}

.appetizer-info .appetizer-price {
  margin-top: auto;
  font-weight: 500;
}



/* Footer */

.page_footer {
  padding-top: 56px;
  padding-bottom: 40px;  
  color: hsl(0, 0%, 100%);
  font-weight: 400;
  background-color: hsl(0, 0%, 15%);
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
}

.page_footer .footer-logo {
  position: relative;
  margin-bottom: 72px;
}

.page_footer .footer-logo::after {
  content: "";
  position: absolute;
  display: block;
  bottom: -40px;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.4);
}

.footer-navigation {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 88px;
}

.footer-navigation::after {
  content: "";
  position: absolute;
  display: block;
  bottom: -48px;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.4);
}

.footer-nav-left {
  width: 308px;
}

.footer-site-navigation-list {
  width: 308px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.custom-select {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  margin-bottom: 32px;
}

.custom-select::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 16px;
  width: 16px;
  height: 16px;
  margin-top: -8px;
  background-image: url(../img/ic_select_globe.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  pointer-events: none;
}

.custom-select::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 8px;
  width: 14px;
  height: 8px;
  margin-top: -4px;
  background-image: url(../img/ic_select_arrow.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  pointer-events: none;
}

.footer-language-select {
  appearance: none;
  -webkit-appearance: none;
  width: 228px;
  height: 48px;
  margin: 0;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 48px;
  font-size: 13px;
  line-height: 20px;
  text-transform: uppercase;
  color:hsl(0, 0%, 100%);
  background-color: hsl(0, 0%, 23%);
  border: none;
  outline: none;
}

.footer-language-select:hover,
.footer-language-select:focus {
  background-color: hsl(0, 0%, 25%);
  cursor: pointer;
}

.footer-social b {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

.footer-social .social-hash {
  color: hsl(117, 41%, 45%);
}

.footer-social-list {
  display: flex;
  margin: 0;
  margin-top: 16px;
  padding: 0;
  list-style: none;
}

.footer-social-item {
  margin-right: 12px;
}

.footer-social-item a {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 24px;
}

.footer-social-item a::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center center;
}

.social-fb a::before {
  background-image: url(../img/ic_facebook.svg);
}

.social-tw a::before {
  background-image: url(../img/ic_twitter.svg);
}

.social-inst a::before {
  background-image: url(../img/ic_instagram.svg);
}

.footer-social-item a:hover,
.footer-social-item a:focus {
  opacity: 0,8;
}

.footer-social-item a:active {
  opacity: 0.5;
}

.site-navigation-item {
  margin-bottom: 24px;
}

.site-navigation-item a {
  font-size: 13px;
  line-height: 20px;
  color: hsl(0, 0%, 100%);
}

.site-navigation-item a:hover,
.site-navigation-item a:focus {
  color: hsla(0, 0%, 100%, 0.8);
}

.site-navigation-item a:active {
  color: hsla(0, 0%, 100%, 0.4);
}

.footer-mobile-store-links {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 88px;
}

.footer-mobile-store-links::after {
  content: "";
  position: absolute;
  display: block;
  bottom: -48px;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.4);
}

.footer-store {
  display: inline-block;
  width: 135px;
  height: 40px;
  margin-right: 40px;
  background-repeat: no-repeat;
  background-position: center center;
  transition: 0.1s ease-in;
}

.store-apple {
  width: 120px;
  background-image: url(../img/btn_appstore.png);
  background-size: 120px 40px;
}

.store-google {
  margin-right: 0;
  background-image: url(../img/btn_google_play.png);
  background-size: 135px 40px;
}

.footer-store:hover,
.footer-store:focus {
  opacity: 0.8;
}

.footer-store:active {
  opacity: 0.6;
}

.footer-copyright {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  font-size: 11px;
  line-height: 20px;
}

.footer-copyright .copyright {
  width: 308px;
  margin: 0;
  padding: 0;
}

.footer-copyright .copyright-link {
  width: 308px;
  color: hsl(0, 0%, 100%);
}

.footer-copyright .copyright-link:hover,
.footer-copyright .copyright-link:focus {
  color: hsla(0, 0%, 100%, 0.8);
}

.footer-copyright .copyright-link:active {
  color: hsla(0, 0%, 100%, 0.4);
}

/* Button to the top */

.up-link {
  position: fixed;
  z-index: 5;
  right: 16px;
  bottom: 24px;
  display: block; 
  width: 80px;
  height: 80px;
  background-color: hsl(117, 41%, 45%);
  transition: 0.2s ease;
}

.up-link:hover,
.up-link:focus {
  background-color: hsl(117, 41%, 40%);
}

.up-link:active {
  background-color: hsl(117, 41%, 35%);
}

.up-link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 26px;
  margin-top: -13px;
  margin-left: -8px;
  background-image: url(../img/ic_arrow_up.svg);
  background-repeat: no-repeat;
  background-position: center center;
  transition: 0.2s ease;
}

.up-link:hover::before,
.up-link:focus::before {
  margin-top: -16px;
}

