body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:332px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6491_div {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6491 {
  position:absolute;
  left:85px;
  top:90px;
  width:247px;
  height:37px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6492 {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  white-space:nowrap;
}
#u6493_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6493 {
  position:absolute;
  left:85px;
  top:155px;
  width:76px;
  height:19px;
}
#u6494 {
  position:absolute;
  left:2px;
  top:2px;
  width:72px;
  white-space:nowrap;
}
