body {
  margin: 0;
  padding: 0;

  font-family: 'IBM Plex Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  color: #111111;

  background-color: #ADD8E6;
}

.inner-page {
  background-color: #fff;
}

a {
  text-decoration: none;
}

.button {
  font: inherit;

  text-align: center;
  color: #000000;
  vertical-align: middle;
  background-color: rgba(173, 216, 230, 0.5);

  border:none;
  border-radius: 2px;
  cursor: pointer;
}

.button:hover,
.button:focus,
.button:active {
  background-color: rgba(173, 216, 230, 0.3);
}


.main-navigation {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.5px;
  color: #111111;
  background-color: #ffffff;
}

.site-navigation,
.user-navigation {
  list-style: none;
}

.site-navigation a,
.user-navigation a {
  color: #111111;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: #555555;
}

.feature-list {
  list-style: none;
}

.feature-item {
  text-align: center;
}

.feature-item h3 {
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
}

.index-columns {
  background-color: #ffffff;
}

.index-columns h2 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 300;
}

.news-list {
  list-style: none;
}

.news-item time {
  color: #555555;
  font-size: 12px;
}

.appointment-item input {
  font: inherit;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #555555; 
}

.appointment-item input:focus,
.appointment-item input:hover {
  border-bottom: 1px solid #111111;
}

.footer-contacts a {
  color: #333333;
  text-decoration: underline;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
  text-decoration: none;
}

.footer-social {
  text-align: center;
}

.footer-social ul {
  list-style: none;
}

.social-button {
  color: #333333;
}

.footer-copyright {
  text-align: center;
}

.modal {
  background-color: #ffffff;
}

.modal h2 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 300;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  font: inherit;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #555555; 
}

.login-form input:focus {
  border-bottom: 1px solid #111111;
}

.login-checkbox:hover,
.login-checkbox:focus {
  color: #555555;
}

.restore {
  color: #333333;
  text-decoration: underline;
}

.restore:hover,
.restore:focus {
  text-decoration: none;
}

.page-title {
  font-size: 24px;
  line-height: 24px;
  font-weight: 300;
}

.breadcrumbs {
  list-style: none;
}

.breadcrumbs a {
  color: #333333;
}

.breadcrumbs-current {
  color: #999999;
}

.price-list-title h2 {
  font-size: 48px;
  line-height: 48px;
  font-weight: 300;
}

.filters legend {
  font-size: 24px;
  line-height: 24px;
  font-weight: 300;
}

.filters fieldset {
  border: none;
}

.filters ul {
  list-style: none;
}

.filter-option label:hover,
.filter-option label:focus {
  color: #555555;
  cursor: pointer;
}

.catalog-list {
  list-style: none;
}

.catalog-item a {
  color: #333333;
}

.catalog-item h3 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

.catalog-item-price b {
  font-size: 24px;
  font-weight: 300;
}

.catalog-item-price a {
  font-size: 16px;
}

.pagination-list {
  list-style: none;
}

.pagination-item a {
  font-size: 20px;
  font-weight: 300;
  color: #333333;
  background-color: rgba(173, 216, 230, 0.5);
}

.pagination-item a:hover,
.pagination-item a:focus {
  color: #000000;
  background-color: rgba(173, 216, 230, 0.3);
}

.pagination-item-current a {
  color: #999999;
}