body {
  margin: 0;
  padding: 0;

  font-family: 'IBM Plex Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  color: #111111;

  background-color: #ADD8E6;
}

.inner-page {
  background-color: #fff;
}

a {
  text-decoration: none;
}

.button {
  font: inherit;

  text-align: center;
  color: #000000;
  vertical-align: middle;
  background-color: rgba(173, 216, 230, 0.5);

  border:none;
  border-radius: 2px;
  cursor: pointer;
}

.button:hover,
.button:focus,
.button:active {
  background-color: rgba(173, 216, 230, 0.3);
}

.main-header {
  margin-bottom: 72px;
}

.inner-page .main-header {
  margin-bottom: 24px;
  background-color: #ADD8E6;
}

.main-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.5px;
  color: #111111;
}

.inner-page .main-navigation {
  align-items: flex-start;
  flex-direction: row;
}

.main-header-logo {
  width: 320px;
  order: 2;
}

.inner-page .main-header-logo {
  order: 0;
  width: 111px;
  padding: 16px 16px;
}

.main-navigation-wrapper {
  width: 100%;
  margin-bottom: 64px;
  background-color: #fff;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 8px;
}

.main-navigation-wrapper .container {
  display: flex;
  justify-content: space-between;
}

.site-navigation,
.user-navigation {
  list-style: none;
  margin: 0;
  padding: 0; 
}

.site-navigation {
  width: 620px;
}

.user-navigation {
  width: 140px;
}

.inner-page .user-navigation {
  margin-left: auto;
}

.site-navigation a,
.user-navigation a {
  color: #111111;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: #555555;
}

.features {
  margin-bottom: 72px;
}

.feature-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.feature-item {
  width: 300px; 
  text-align: center;
}

.feature-item h3 {
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
}

.index-columns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 56px;
  padding: 48px 72px;
  background-color: #ffffff;
}

.index-columns h2 {
  margin-top: 0; 
  font-size: 24px;
  line-height: 28px;
  font-weight: 300;
}

.news {
  width: 380px;
}

.news-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.news-item time {
  color: #555555;
  font-size: 12px;
}

.gallery {
  width: 300px;
}

.gallery-content {
  margin: 0;
  padding: 0;
}

.contacts {
  width: 380px;
}

.appointment {
  width: 300px;
}

.appointment-item input {
  font: inherit;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #555555; 
}

.appointment-item input:focus,
.appointment-item input:hover {
  border-bottom: 1px solid #111111;
}

.main-footer {
  margin-top: 64px;
  padding: 48px 0;
}

.inner-page .main-footer {
  margin-top: 32px;
}

.main-footer .container {
  display: flex;
}

.main-footer p {
  margin: 0;
  padding: 0;
}

.main-footer .footer-contacts {
  width: 320px;
  margin-right: 72px;
}

.footer-contacts a {
  color: #333333;
  text-decoration: underline;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
  text-decoration: none;
}

.main-footer .footer-social {
  width: 160px;
  text-align: center;
}

.footer-social ul {
  list-style: none;
}

.social-button {
  color: #333333;
}

.main-footer .footer-copyright {
  width: 160px;
  margin-left: auto;
  text-align: center;
}

.modal {
  background-color: #ffffff;
}

.modal h2 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 300;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  font: inherit;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #555555; 
}

.login-form input:focus {
  border-bottom: 1px solid #111111;
}

.login-checkbox:hover,
.login-checkbox:focus {
  color: #555555;
}

.restore {
  color: #333333;
  text-decoration: underline;
}

.restore:hover,
.restore:focus {
  text-decoration: none;
}

.page-title {
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
  font-size: 24px;
  line-height: 24px;
  font-weight: 300;
}

.breadcrumbs {
  margin: 0;
  margin-bottom: 48px;
  padding: 0;
  list-style: none;
}

.breadcrumbs a {
  color: #333333;
}

.breadcrumbs-current {
  color: #999999;
}

.price-list-title h2 {
  font-size: 48px;
  line-height: 48px;
  font-weight: 300;
}

.filters {
  width: 200px;
}

.filters legend {
  font-size: 24px;
  line-height: 24px;
  font-weight: 300;
}

.filters fieldset {
  border: none;
}

.filters ul {
  list-style: none;
}

.filter-input:hover + label,
.filter-input:focus + label {
  color: #555555;
  cursor: pointer;
}

.filter-input:disabled + label {
  opacity: 0.3;
  cursor: not-allowed;
}

.catalog-columns {
  display: flex;
  justify-content: space-between;
}

.catalog {
  width: 700px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
  list-style: none;
}

.catalog-item {
  width: 220px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.catalog-item:nth-child(3n) {
  margin-right: 0;
}

.catalog-item a {
  color: #333333;
}

.catalog-item a:hover,
.catalog-item a:focus {
  color: #555555;
}

.catalog-item h3 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

.catalog-item-price b {
  font-size: 24px;
  font-weight: 300;
}

.catalog-item-price a {
  font-size: 16px;
}

.pagination-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination-item a {
  font-size: 20px;
  font-weight: 300;
  color: #333333;
  background-color: rgba(173, 216, 230, 0.5);
}

.pagination-item a:hover,
.pagination-item a:focus,
.pagination-item a:active {
  color: #000000;
  background-color: rgba(173, 216, 230, 0.3);
}

.pagination-item-current a {
  color: #999999;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: #999999;
  background-color: rgba(173, 216, 230, 0.5);
}

.product-columns {
  display: flex;
  justify-content: space-between;
}

.product-photos {
  width: 460px;
}

.product-info {
  width: 400px;
}

.product-info h3 {
  font-size: 20px;
  font-weight: 300;
  color: #333333;
}

.product-info ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.product-article {
  color: #999999;
  text-align: right;
}

.price-list-columns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
}

.price-list-products {
  width: 440px;
}

.price-list-prices {
  width: 440px;
}

.price-list-products h2 {
  font-size: 24px;
  line-height: 24px;
  font-weight: 300;
}

.price-list-products ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.price-list-prices h2 {
  font-size: 24px;
  line-height: 24px;
  font-weight: 300;
}

.price-list-table td:nth-child(even) {
  text-align: center; 
}

.price-list-info-columns {
  display: flex;
  justify-content: space-between;
}

.price-list-info-first-column,
.price-list-info-second-column {
  width: 440px;
}

.price-list-info h2 {
  font-size: 24px;
  line-height: 24px;
  font-weight: 300;
}
