body {
  margin: 0;
  padding: 0;

  font-family: 'IBM Plex Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  color: #111111;

  background-color: #ADD8E6;
}

.inner-page {
  background-color: #fff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden,
input[type="checkbox"].visually-hidden,
input[thype="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  margin-right: 8px;
  padding: 8px 16px;

  font: inherit; 
  text-align: center;
  color: #333333;
  vertical-align: middle;
  background-color: rgba(255, 255, 255, 1);
  

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  cursor: pointer;

  transition: 0.3s ease;
}

.button:hover,
.button:focus,
.button:active {
  box-shadow: 0 4px 16px rgba(107, 139, 150, 0.2);
}

.button:disabled, 
.button .disabled {
  opacity: 0.3;
  cursor: not-allowed;
  box-shadow: none;
}

.main-header {
  margin-bottom: 144px;
}

.inner-page .main-header {
  margin-bottom: 24px;
  background-color: #ADD8E6;
}

.main-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.3px;
  color: #111111;
}

.inner-page .main-navigation {
  align-items: center;
  flex-direction: row;
}

.main-header-logo {
  width: 320px;
  order: 2;
}

.inner-page .main-header-logo {
  order: 0;
  width: 111px;
  height: 20px;
  padding: 16px 16px 16px 0px;

}

.main-navigation-wrapper {
  width: 100%;
  margin-bottom: 144px;
  /* background-color: #fff; */
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 8px;
}

.main-navigation-wrapper .container {
  display: flex;
  justify-content: space-between;
}

.site-navigation,
.user-navigation {
  list-style: none;
  margin: 0;
  padding: 0; 
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 620px;
}

.user-navigation {
  display: flex;
  max-width: 160px;
}

.inner-page .user-navigation {
  margin-left: auto;
}

.site-navigation a,
.user-navigation a {
  position: relative;
  display: block;
  padding: 24px 16px;
  color: #111111;
}

.user-navigation .login-link {
  position: relative;
  padding-left: 56px;
}

.login-link::before {
  content: "";
  position: absolute;
  top: 22px;
  left: 16px;
  width: 24px;
  height: 28px;
  background-image: url("../img/ic_login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  transition: 0.3s ease;
}

.login-link:hover::before,
.login-link:active::before,
.login-link:focus::before {
  transform: translateX(4px) ;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: #000000;
}

.site-navigation-current {
  position: relative;
}

.site-navigation-current a:not([href]) {
  color: rgb(53, 109, 126);
}

.site-navigation-current a[href] {
  color: rgb(53, 109, 126);
}

.site-navigation-current:after {
  content: "";
  position: absolute;
  bottom: 16px;
  right: 16px;
  left: 16px;
  height: 4px;
  background-color: #fff;
}

.features {
  margin-bottom: 72px;
}

.feature-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.feature-item {
  width: 300px; 
  text-align: center;
}

.feature-item h3 {
  position: relative;
  margin: 0;
  margin-bottom: 48px;
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
}

.feature-item h3::after {
  content: "";
  position: absolute;
  bottom: -32px;
  left: 50%;
  width: 24px;
  height: 18px;
  margin-left: -8px;
  background-image: url("../img/ic_benefit_divider.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.feature-item p {
  margin: 0px 16px;
}

.index-columns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 56px;
  padding: 48px 72px;
  background-color: #ffffff;
}

.index-columns h2 {
  margin-top: 0;
  margin-bottom: 24px; 
  font-size: 24px;
  line-height: 28px;
  font-weight: 300;
}

.news {
  width: 380px;
}

.news-list {
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
  list-style: none;
}

.news-item {
  margin-bottom: 24px;
}

.news-item p {
  margin-top: 0;
  margin-bottom: 8px;
}

.news-item time {
  color: #555555;
  font-size: 12px;
}

.gallery {
  width: 320px;
}

.gallery-content {
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
}

.gallery-content {
  width: 300px;
}

.gallery-content img {
  border-radius: 4px;
}

.gallery-controls {
  display: flex;
  justify-content: space-between;
  width: 300px;
  
}

.gallery-controls button{
  flex-grow: 1;
}

.gallery-button-next {
  margin-right: 0;
}

.contacts {
  width: 380px;
}

.contacts p {
  margin: 0;
  margin-bottom: 24px;
}

.appointment {
  width: 320px;
}

.appointment .appointment-info {
  margin: 0;
  margin-bottom: 24px;
}

.appointment-item {
  display: flex;
  width: 320px;
  margin: 0;
  margin-bottom: 16px;
}

.appointment-item:last-of-type {
  margin-bottom: 24px;
}

.appointment-item label {
  min-width: 30%;
}

.appointment-item input {
  flex-grow: 1;
  font: inherit;
  background-color: transparent;
  padding-bottom: 1px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
}

.appointment-item input:focus,
.appointment-item input:hover {
  padding-bottom: 0px;
  border-bottom: 2px solid #111111;
  outline: none;
}

.main-footer {
  margin-top: 0px;
  padding: 48px 0;
}

.inner-page .main-footer {
  margin-top: 32px;
}

.main-footer .container {
  display: flex;
}

.main-footer p {
  margin: 0;
  padding: 0;
}

.main-footer .footer-contacts {
  width: 320px;
  margin-right: 72px;
}

.footer-contacts a,
.footer-copyright a {
  color: #333333;
  text-decoration: underline;
}

.footer-contacts a:hover,
.footer-contacts a:focus,
.footer-copyright a:hover,
.footer-copyright a:active {
  text-decoration: none;
}

.main-footer .footer-social {
  width: 160px;
  text-align: center;
}

.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 144px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.footer-social b {
  display: block;
  margin-bottom: 12px;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  color: #333333;
}

.social-button:hover path,
.social-button:active path {
  fill: #333333;
}

.main-footer .footer-copyright {
  width: 160px;
  margin-left: auto;
  text-align: center;
}

.modal {
  background-color: #ffffff;
}

.modal h2 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 300;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  font: inherit;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #555555; 
}

.login-form input:focus {
  border-bottom: 1px solid #111111;
}

.login-checkbox:hover,
.login-checkbox:focus {
  color: #555555;
}

.restore {
  color: #333333;
  text-decoration: underline;
}

.restore:hover,
.restore:focus {
  text-decoration: none;
}

.page-title {
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
  font-size: 24px;
  line-height: 24px;
  font-weight: 300;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 48px;
  padding: 0;
  list-style: none;
}

.breadcrumbs a {
  position: relative;
  margin-right: 32px;
  color: #333333;
}

.breadcrumbs a:after {
  content: "";
  position: absolute;
  top: 7px;
  right: -18px; 
  width: 4px;
  height: 4px;
  background-color: #000;
  border-radius: 2px;
}

.breadcrumbs-current {
  color: #999999;
}

.price-list-title h2 {
  margin: 0;
  margin-bottom: 64px;
  padding: 0;
  font-size: 48px;
  line-height: 48px;
  font-weight: 300;
}

.filters {
  width: 200px;
}

.filters legend {
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;
}

.filters fieldset {
  margin: 0;
  margin-bottom: 32px;
  padding: 0;
  border: none;
}

.filters ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter-option {
  position: relative;
  padding-left: 32px;
  margin-bottom: 16px;
}

.filter-control-icon {
  position: absolute;
  top: 0px;
  left: 0;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
}

.icon-checkbox {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  cursor: pointer;
}

.filter-option input:checked ~ .icon-checkbox,
.filter-option input:active ~ .icon-checkbox,
.filter-option input:checked:focus ~ .icon-checkbox {
  background-color: #000000;
  background-image: url("../img/ic_checkbox_checkmark.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.filter-option input:disabled:active ~ .icon-checkbox,
.filter-option input:disabled:focus ~ .icon-checkbox {
  background-image: none;
  background-color: transparent;
  cursor: not-allowed;
}

.filter-option input:focus ~ .icon-checkbox {
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.icon-radio {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  cursor: pointer;
}

.filter-option input:checked ~ .icon-radio,
.filter-option input:active ~ .icon-radio,
.filter-option input:checked:focus ~ .icon-radio {
  background-color: #000000;
  background-image: url("../img/ic_checkbox_checkmark.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.filter-option input:disabled:active ~ .icon-radio,
.filter-option input:disabled:focus ~ .icon-radio {
  background-image: none;
  background-color: transparent;
  cursor: not-allowed;
}

.filter-option input:focus ~ .icon-radio {
  border: 1px solid rgba(0, 0, 0, 0.5);
}



.filter-option .filter-input:hover + label,
.filter-option .filter-input:focus + label {
  color: #555555;
  cursor: pointer;
}

.filter-option .filter-input:disabled + label {
  opacity: 0.3;
  cursor: not-allowed;
}



.catalog-columns {
  display: flex;
  justify-content: space-between;
}

.catalog {
  width: 700px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
  list-style: none;
}

.catalog-item {
  width: 220px;
  margin-right: 20px;
  margin-bottom: 40px;
}

.catalog-item:nth-child(3n) {
  margin-right: 0;
}

.catalog-item a {
  color: #333333;
}

.catalog-item a:hover,
.catalog-item a:focus {
  color: #555555;
}

.catalog-item h3 {
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

.catalog-item-image {
  margin: 0;
  padding: 0;
}

.catalog-item-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

.catalog-item-price b {
  font-size: 24px;
  font-weight: 300;
}

.catalog-item-price a {
  margin-right: 0;
  font-size: 16px;
}

.pagination-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination-item a {
  display: inline-block;
  margin-right: 8px;
  padding: 8px 16px;

  font: inherit; 
  text-align: center;
  color: #333333;
  vertical-align: middle;
  background-color: rgba(255, 255, 255, 1);
  

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  cursor: pointer;
}

.pagination-item a:hover,
.pagination-item a:focus,
.pagination-item a:active {
  color: #000000;
  box-shadow: 0 4px 16px rgba(107, 139, 150, 0.2);
}

.pagination-item-current a {
  color: #999999;
  background-color: rgba(0,0,0,0.1);
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: #999999;
  
  box-shadow: none;
  cursor: not-allowed;
}

.product-columns {
  display: flex;
  justify-content: space-between;
}

.product-photos {
  width: 460px;
}

.product-info {
  position: relative;
  width: 400px;
}

.product-availability {
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
}

.product-info h3 {
  position: relative;
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
  font-size: 20px;
  font-weight: 300;
  color: #333333;
}

.product-info h3:before {
  content: "";
  position: absolute;
  top: -24px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #000000;
}

.product-info ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.product-info ul li {
  position: relative;
  margin: 0;
  margin-bottom: 8px;
  padding: 0;
  padding-left: 24px;
}

.product-info ul li:before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background-color: #000000;
}

.product-article {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  color: #999999;
  text-align: right;
}

.product-text {
  margin: 0;
  margin-bottom: 32px;
  padding: 0;
}

.product-info .catalog-item-price {
  margin-bottom: 80px;
  max-width: 320px;
}

.price-list-columns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
}

.price-list-products {
  width: 440px;
}

.price-list-prices {
  width: 440px;
}

.price-list-products h2 {
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
  font-size: 24px;
  line-height: 24px;
  font-weight: 300;
}

.price-list-products .price-list-products-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.price-list-products-list li {
  position: relative;
  margin: 0;
  margin-bottom: 8px;
  padding: 0;
  padding-left: 24px;
}

.price-list-products-list li:before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background-color: #000000;
}


.price-list-prices h2 {
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
  font-size: 24px;
  line-height: 24px;
  font-weight: 300;
}

.price-list-table {
  border-collapse: collapse;
}

.price-list-table td {
  padding: 8px 16px;
  border: 1px solid grey;
}

.price-list-table td:nth-child(even) {
  text-align: center; 
}

.price-list-info-columns {
  display: flex;
  justify-content: space-between;
}

.price-list-info-columns p {
  margin: 0;
  margin-bottom: 8px;
  padding: 0;
}

.price-list-info-first-column,
.price-list-info-second-column {
  width: 440px;
}

.price-list-info h2 {
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
  font-size: 24px;
  line-height: 24px;
  font-weight: 300;
}

/* Modals */

.modal {
  position: fixed;
  background-color: #fff;
}

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

.modal-login {
  display: none;
  z-index: 5;
  top: 50%;
  left: 50%;
  box-sizing: border-box;
  width: 480px;
  padding: 48px 64px;
  transform: translate(-50%, -50%)
}

.modal-login h2 {
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
}

.modal-login p {
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
}

.login-form p {
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
}

.login-form input[type="password"],
.login-form input[type="text"] { 
  width: 352px;
}

.login-password-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.login-checkbox {
  position: relative;
  padding-left: 40px;
  cursor: pointer;
}

.checkbox-indicator {
  position: absolute;
  top: 0px;
  left: 0;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  cursor: pointer;
}

.login-checkbox input:checked ~ .checkbox-indicator,
.login-checkbox input:active ~ .checkbox-indicator,
.login-checkbox input:checked:focus ~ .checkbox-indicator
 {
  background-color: #000000;
  background-image: url("../img/ic_checkbox_checkmark.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.login-checkbox input:focus ~ .checkbox-indicator {
  outline: thin dotted;
  background-color: rgba(0, 0, 0, 0.2);
}

.modal-close {
  position: absolute;
  top: 0;
  right: -48px;
  font-size: 0;
  border: none;
  width: 32px;
  height: 32px;
  background-color: transparent;
  cursor: pointer;
}

.modal-close:hover,
.modal-close:focus {
  opacity: 0.6;
}

.modal-close:active {
  opacity: 0.3;
}

.modal-close::before,
.modal-close::after {
  position: absolute;
  content: "";
  left: 4px;
  width: 24px;
  height: 2px;
  background-color: #ffffff;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.modal-map {
  display: none;
  z-index: 4;
  top: 50%;
  left: 50%;
  /* margin-left: -390px;
  margin-top: -280px; */
  box-sizing: border-box;
  width: 780px;
  height: 560px;
  transform: translate(-50%, -50%)
}

.modal-map p {
  margin: 0;
  padding: 0;
}