body {
	margin:0;
	padding:0;
	background-color: #222;
}

.flex-container {
	display:flex;
	flex-direction: row;
	align-items: stretch;
	flex-wrap: wrap;
}

.flex-container div {
	padding: 20px;
	flex-basis: 200px;
	flex-grow: 1;
	border: 1px dashed blue;
	color: white;
}

